
body {
    background: #E5E5E5;
    
}

.wraper {
    display: grid;
    grid-template-columns: 142fr 953fr 345fr; 
    min-height: 100vh;
    
    width: 100%;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(255,255,255),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}

.search {
    width: 32.6875rem;
    height: 6.1875rem;
    margin: 0 auto 0.625rem;
    
    padding: 0.5rem;

    h4 {
        font-family: 'Cabin';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1,1875rem;
        margin-bottom: 0.5rem;

        /* Font/Tertiary */
        width: 5,875rem;
        height: 1,1875rem;
        color: #60695C;
    }

    &-bar {
        width: 31.6875rem;
        height: 56px;
        padding: 0.5rem 1rem;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(26, 31, 22, 0.15);
        border-radius: 13px;
        border: 0;
    }
}

.nav {
    background: #FFFFFF;
    display: flex;
    
    width: 4.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
    gap: 0.625rem;
    border-radius: 0.5rem;

    button {
        height: 2.5rem;
        width: 2.5rem;
        object-fit: cover;
        padding: 0 ;
        border: 0;
        cursor: pointer;
        background: #E5E5E5;
    }

    &-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0.5rem;
    }
    
  &-items {
    background-color: #1A1F16;
  }


}



.mainPage {
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 3px;
        
        
      }
      
    &::-webkit-scrollbar-track {
        background: #E5E5E5;
        margin: 3px;        
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: black;    /* цвет бегунка */
        border-radius: 20px;       /* округлось бегунка */
        margin: 3px;/* отступ вокруг бегунка */
        cursor: pointer;
    }
}

.deviceList {
    
    padding: 0 0.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    align-content: flex-start;
    gap: 15px;
    
}

.deviceItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    padding: 1rem;
    gap: 0.5rem;

    min-height: 25rem;
    
    .image {
        background-color: white;
        width: 100%;
        height: 14.5rem;
        border-radius: 1.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        img {
            height: 12.5rem;
            width: 10rem; 
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 7.8125rem;
        
        padding: 0.5rem;
        gap: 0.5rem;
        .price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0.5rem;
            button {
                height: 2.125rem;
                object-fit: cover;
                padding: 0 ;
                border: 0;
                cursor: pointer;
                background: #E5E5E5;
            }
        }
    }
    h1 {
        font-size: 1.25rem;
        font-weight: 500;
        font-family: 'Cabin';
        font-style: normal;
        width: 7.875rem;
        height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
    
    

        /* Font/Dark */

        color: #1A1F16;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 500;
        font-family: 'Cabin';
        font-style: normal;
        width: 7.875rem;
        height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;

        /* Font/Dark */

        color: #60695C;
    }
}

